<ion-view hide-back-button="true">      
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc button-top16"></button>
  </ion-nav-buttons>
  <ion-nav-buttons >
    <h1 class="title">
      <div class="headmain_hd top-padding20" >About</div>
    </h1>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    	<div class="list card list-inset" style="box-shadow: none;">
      <img src="img/about-logo.png"  class="rg32" />
        <div class="item item-divider positive rg33">          
           The team & vision
        </div>
        <div class="item item-text-wrap rg34">
          The Booster team wants to help you 
accomplish your goals! Using a 
collaborative platform that provides 
a social solution for self discipline, Booster lets you 
get motivated with the help of your 
friends & family. Simply have fun socializing while achieving
your goals!<br />
Get ready to boost your life.
        </div>
        <div class="item item-divider positive rg33">
          Special Thanks To
        </div>
        <div class="item item-text-wrap rg34">
          <ul>
              <li>Itamar Bernstein</li>
              <li>Amir Cohen</li>
              <li>Yuval Shafrir</li>
              <li>Adina Makover<li>
              <li>Amir Makover</li>
              <li>Tal Makover</li>
              <li>Neita Rubinstein</li>
              <li>Ram Uritski</li>
              <li>Adriana Yagev</li>
              <li>Ariela Vituli</li>
              <li>Dana Zarmon</li>
              <li>Yaniv Makover</li>
              <li>Ofer Yagev</li>
              <li>Roy Michael Shefy</li>
              <li>Mark Halabeki</li>
              <li>Vincent Dascher</li>
              <li>Daniel Geven</li>
              <li>Omer Shafrir</li>
              <li>Carmel Cappon</li>
              <li>Adit Siman-Tov</li>
              <li>Sara Abel</li>
              <li>Asaf David</li>
              <li>Stav Yagev</li>
              <li>Tomer Turgeman</li>
              <li>Zachi Zach</li>
              <li>Aviram Arbel</li>
              <li>Motty Simantov</li>
              <li>Shlomy Kattan</li>
              <li>Neta Rubinstein</li>
          </ul>
        </div>
      </div>
  </ion-content>
</ion-view>
<style type="text/css">
  .scroll {
    margin-top: 20px;
  }
    .headmain_hd {
    margin-top: 0 !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
