<div ng-show="isTutCompleted" ng-click="showTutCompleted(false)" href="" class="tutStyleRel">
  <img src="img/completed.png" style="height: 100%; width: 100%;">
</div>
<style type="text/css">
    .bar.bar-positive {
        background: #574bee;
        height: 60px;
    }
</style>
<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc margin-top10"></button>
    </ion-nav-buttons>
    <ion-nav-buttons >
        <h1 class="title">
            <div class="headmain_hd">{{profile.name}}</div>
            <div class="subhd_hed">
                {{profile.level}} <span class="ion-star rg80">{{profile.points}}</span>
            </div>
        </h1>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-show="notef.count > 0" class="count">{{notef.count}}</span>
        <a href="#/app/notification"  class="notification-bell button button-icon ion-ios7-bell-outline toperthionc margin-top10"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list rg59 and03">
            <div ng-repeat="item in list">
                <a ng-show="item.IsGetBoost" class="waitinglink" href="#/app/{{item.IsReviewd ? 'creview' : 'review'}}/{{item.BoostId}}/false">
                    <div class="item item-thumbnail-left graypartbgtab">
                        <div class="user_pic">
                            <img src="img/pic_frem.png" alt="" />
                            <span><img src="{{item.RequestPicUrl}}" alt="" class="rg60" /></span>
                        </div>
                        <div class="userinfo">
                            <h2 class="boostwill rg62 rg62a">
                                <span>You Got a Boost from</span> <br />{{item.RequestUserName}}</h2>
                            <h3 class="rg62 rg62b">{{item.Text}}</h3>
                            <h4>{{item.EventTime}} {{item.EventDateString}}</h4>
                            <div  ng-show="!item.IsReviewd"class="askingwill">Waiting for review</div>
                            <div ng-show="item.IsReviewd">
                                <span ng-show="item.LovedIt" class="askingwill accepted">Loved it!</span>
                                <span ng-show="!item.LovedIt" class="askingwill rejected">Disaster!</span>
                            </div>
                        </div>
                        <img src="img/right-arrow.png" alt="" class="rg64">
                    </div>
                </a>
                <a href="#/app/{{item.IsReviewd ? 'creview' : 'review'}}/{{item.BoostId}}/true" ng-show="!item.IsGetBoost">
                    <div class="item item-thumbnail-left" >
                        <div class="userinfo_second">
                            <h2 class="rg62 rg62a">
                                <span>You Gave a Boost to</span><br />{{item.RequestUserName}}</h2>
                            <h3 class="rg62 rg62b">{{item.Text}} </h3>
                            <h4>{{item.EventTime}} {{item.EventDateString}}</h4>
                        </div>
                        <div class="user_picsecond">
                            <img src="img/right_side.png" alt="" />
                            <span><img src="{{item.RequestPicUrl}}" alt="" class="rg61" /></span>
                            <div>
                                <img ng-show="!item.IsReviewd" src="img/review_btn.png" alt="" class="rg63">
                                <img ng-show="item.IsReviewd" src="img/reviewed.png" alt="" class="rg63">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top border-none">
        <a class="tab-item bg-green" href="#/app/upcoming">
            <img src="img/calendar-icon.png" class="rg4">
            Coming Up
        </a>
        <a class="tab-item rg5 bg-orange" href="#/app/requests">
            <span ng-show="requestCount > 0" class="count count-bottom">{{requestCount}}</span>
            <img src="img/megaphone-icon.png" class="rg4 rg4a">
            Boost Calls
        </a>
        <a class="tab-item bg-purple" href="#/app/completed">
            <img src="img/completed-icon.png" class="rg4 rg4b">
            Your Success
        </a>
    </div>
</ion-view>