<div ng-show="isTutGetBoost" ng-click="showTutGetBoost(false)" style="position: relative; top: 0; left: 0; z-index: 9; height: 100%; width: 100%;">
  <img src="img/Tutorial/PNG/set_goal.png" style="height: 100%; width: 100%;">
</div>
  <ion-view hide-back-button="true">
  <ion-nav-buttons side="left" >
    <a class="button button-clear button-top16" href="#/app/upcoming">
      Cancel
    </a>
  </ion-nav-buttons>
	<ion-nav-buttons >
		<h1 class="title">
			<div class="headmain_hd getbst">Add Boost</div>
		</h1>
	</ion-nav-buttons>
  <ion-content class="has-header">
      <div class="list and01">
        <div class="item item-thumbnail-left rg7">
          	<h2 class="yourboosrhd rg16">Choose Your Booster:</h2>
            <div class="choose">
    			     <div class="addpic"><a href="#/app/choosebooster"><img src="{{boost.picUrl}}" alt="Boost"></a></div>
    			     <div class="txtchoose"><a href="#/app/choosebooster">Choose Friend</a></div>
    		    </div>
    		    <h2 class="yourboosrhd">Set Your Goal:</h2>
    		    <div class="gotogym">
              <label class="item-input">
                <input type="text" placeholder="Add Text Here" ng-model="boost.comment" style="font-size: 13pt;">
              </label>
            </div>            
        </div>
        <div class="tbndate">          
            <div class="row alertbtnm rg10" ng-click="showDatetime()">                
                <div class="dateleft rg58" style="width: 100%; float:left; color:#FFFFFF;">{{boost.evtDateTime}}
                </div>
                <!-- <div class="daymonth item-input item-select rg10 item-input" style="width: 64%; float:left; padding-left: 4px;"> -->
                  <!-- <input type="datetime-local" ng-model="boost.evtDateTime" class="rg11" /> -->
            </div>
                <!-- <div style="clear: both;"></div> -->
        </div>            
            <!-- <div class="row alertbtnm rg10">                
                <div class="col dateleft rg58">Time</div>
                <div class="col col-75 daymonth item-input item-select rg10 item-input" >
                    <input type="time" ng-model="boost.evtTime" class="rg11"  />
                </div>
            </div> -->
      </div>            
        <div class="row rg10a">                
    	       <div class="col dateleft rg58">Alert</div>
             <div class="col col-75 daymonth item-input item-select rg10" >
                <select class="rg11" ng-model="boost.after">
                    <option value="00">Select</option>
                    <option value="10">10 minutes before</option>
                    <option value="15">15 minutes before</option>
                    <option value="20">20 minutes before</option>
                    <option value="25">25 minutes before</option>
                    <option value="30">30 minutes before</option>
                </select>
            </div>
        </div>
           <!--  <div class="btntopspnk">
              <button class="button button-block button-positive tackbtn rg56">
                Save Changes
              </button>
            </div> -->
        <button class="botlogoboost rg12" ng-click="addBoost()"><img src="img/sendrequest-btn.png" alt="Send" class="rg14"></button>
      </div>
  </ion-content>
</ion-view>
<style type="text/css">
    .headmain_hd {
    margin-top: 12px !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
  margin-bottom: 0 !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
</style>
