<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-content style="margin-top:0 !important">
        <img src="img/loading_splash.jpg" style='width:100%; height:100%;'/>
    </ion-content>
</ion-view>