<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-pane>
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                  <ion-slide ng-click="nextSlide()">
                        <img style="height:100%" class="item-image full-image" src="img/int1.jpg" />
                  </ion-slide >
                  <ion-slide ng-click="nextSlide()">
                    <img style="height:100%" class="item-image full-image" src="img/int2.jpg" />
                  </ion-slide>
                  <ion-slide ng-click="nextSlide()">
                    <img style="height:100%" class="item-image full-image" src="img/int3.jpg" />
                  </ion-slide>
            </ion-slide-box>      
                  <button ng-click="facebookLogin()" class="rg25">
                      <img src="img/fb-login-btn.png" style="position:absolute; width: 95%; bottom:4px; left: 6px;" />
                  </button>
            <!-- Gradient transparent - color - transparent -->
            <!-- <hr class="style-two"> -->
            <!-- <div style="text-align:center">              
                <img src="img/logo.jpg" />
            </div>            
            <div class="c-login padding"  >                
                <h2>Welcome, New Booster!</h1>
                <h4>Sign In & Start Boosting!</h3>
                <button class="button button-block button-positive" ng-click="facebookLogin()" style="background-color:#3B5998 !important">
                    <i class="icon ion-social-facebook"></i>
                    &nbsp;Login with Facebook
                </button>    
                <small>
                    * We hate spam as much as you do, we will never
                    <br>
                    post anything without your permission.
                </small>          
            </div>            
        </div> -->
    </ion-pane>

</ion-view>
<style type="text/css">
    .slider-pager{
        display: none !important;
    }
    .scroll, .slider {
        height: 100% !important;
        width: 100% !important;
    }
</style>
<!--<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-content has-header="true" padding="true">
        <div class="list list-inset" >
            <div class="item item-image" style="border-width:0 !important">
                <img src="img/logo.png" />
                <p>Boost your life!</p>             
                <h1 class="positive">Welcome</h1>
                <h2>Booster</h2> 
                <br><br>               
                <button class="button button-block button-positive" ng-click="facebookLogin()">
                    <i class="icon ion-social-facebook"></i>
                    &nbsp;Login with Facebook
                </button>              
            </div>            
        </div>
    </ion-content>
</ion-view>-->