<style type="text/css">
  .headmain_hd {
    margin-top: 6px !important;
  }
  .bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
font-size: 24px !important;
}
.bar .button.back-button {
  margin-top: 9px !important;
}
.list {
  margin-top: 0px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 50px !important;
}
h1.title {
  margin-top: 12px !important;
}
</style>
<ion-view hide-back-button="false">   
  <ion-nav-buttons >
    <h1 class="title">
      <div class="headmain_hd getbst">Notifications</div>
    </h1>
  </ion-nav-buttons>
  <ion-content class="has-header" style="margin-top: -14px !important;">
    <ion-list>
      <ion-item class="item-avatar item-text-wrap" ng-class="getClass($index)" ng-repeat="item in notef.list" ng-click="showDetail(item)">
          <img class="userpiclist" ng-src="{{ item.ProfilePic }}"   alt="">
          <h2 class="not-head positive rg31" ng-bind-html="item.Message"></h2>
          <p>{{item.CreatedDateString}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
