<ion-view  hide-back-button="true" >  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc button-top16"></button>
  </ion-nav-buttons>
  <ion-nav-buttons >
    <h1 class="title">
      <div class="headmain_hd top-padding20" >Profile</div>
    </h1>
  </ion-nav-buttons>
  <ion-content class="has-header">
    	<div class="list">
        <div class="item item-thumbnail-left firstpartbgtab rg42 rg46">
            <div class="user_pic rg44">
                <!-- <img src="img/pic_frem.png" alt="" />  -->
                <span><img src="{{profile.pic}}" alt="" class="rg43" /></span>
            </div>
            <div class="userinfo rg45">
              <h2>{{profile.name}}</h2>
              <!-- <h4>Lavel: <b>Dreamer</b></h4>
              <h4>Points: <b>300<b></h4>   -->    
            </div>
          </div> 
          <div class="rg51">
            <p class="rg52"><span class="ion-star">{{profile.points}}</span></p>
            <p class="rg52 rg53">{{profile.level}}</p>
          </div>
          <div class="item rg50">
            <br>
            <button class="button button-positive rg48">
                <h1 class="rg47"><b>{{profile.getBoostPt}}</b></h1>
                <b>Get Boost <br />Points</b>
            </button>
            <button class="button button-positive rg48a">
                <h1 class="rg49"><b>{{profile.giveBoostPt}}</b></h1>
                <b>Give Boost <br />Points</b>
            </button>
          </div>
      </div>
  </ion-content>
</ion-view>
<style type="text/css">
    .headmain_hd {
    margin-top: 0 !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
