<div ng-show="isTutRequests" ng-click="showTutRequests(false)" href="#/app/getboost/0" class="tutStyleRel">
  <img src="img/boost_calls.png" style="height: 100%; width: 100%;">
</div>
<style type="text/css">
    .bar.bar-positive {
        background: #ee8c4b;
        height: 50px;
    }
</style>
<ion-view hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc margin-top10"></button>
    </ion-nav-buttons>
    <ion-nav-buttons >
        <h1 class="title">
            <div class="headmain_hd">{{profile.name}}</div>
            <div class="subhd_hed">
                {{profile.level}} <span class="ion-star rg80">{{profile.points}}</span>
            </div>
        </h1>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-show="getNotificationCount() > 0" class="count">{{getNotificationCount()}}</span>
        <a href="#/app/notification"  class="notification-bell button button-icon ion-ios7-bell-outline toperthionc margin-top10"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list requestlist01 and01">
            <div class="item item-thumbnail-left requestlistbg rg29 rg35" ng-repeat="item in list">
                <div class="requests_left">
                    <h2 class="rg28">{{item.RequestUserName}} <span>is asking for a Boost to:</span> </h2>
                    <h3>{{item.Text}}</h3>
                    <h4>{{item.EventDateString}}</h4>
                    <div class="btnrecn">
                        <a ng-click="accept(item.BoostId)"><img src="img/agree_btn.png"></a>
                        <a ng-click="decline(item.BoostId)"><img src="img/decline.png"  ></a>
                    </div>
                </div>
                <div class="requests_right rg30">
                    <img src="img/right_side.png" alt="">
                    <span><img src="{{item.RequestPicUrl}}" class="rg27" alt=""></span>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-top border-none">
        <a class="tab-item bg-green" href="#/app/upcoming">
            <img src="img/calendar-icon.png" class="rg4">
            Coming Up
        </a>
        <a class="tab-item rg5 bg-orange" href="#/app/requests">
            <span ng-show="requestCount > 0" class="count count-bottom">{{requestCount}}</span>
            <img src="img/megaphone-icon.png" class="rg4 rg4a">
            Boost Calls
        </a>
        <a class="tab-item bg-purple" href="#/app/completed">
            <img src="img/completed-icon.png" class="rg4 rg4b">
            Your Success
        </a>
    </div>
</ion-view>
