<style type="text/css">
  ion-nav-back-button.button-clear.button-top25.button.back-button{
    margin-top: 15px !important;
  }
  ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
    height: 60px !important;
  }
  h1.title {
    margin-top: 16px !important;
  }
</style>
<ion-view hide-back-button="false">
  <ion-nav-buttons >
    <h1 class="title">
      <div class="headmain_hd getbst margin-top6">{{selfie.BoostTitle}}</div>
    </h1>
  </ion-nav-buttons>
  <ion-content class="has-header">      
     <div class="list rg66">        
         <div class="item rg70">
           <!-- <center>
              <img class="rg67" src="{{selfie.RequsetPicUrl}}">
              <h2 class="positive rg68">{{selfie.RequestUserName}}</h2>
            </center> -->
            <!-- <div class="rg42 rg46a">
              <div class="user_pic rg44">
                  <span><img src="{{selfie.RequsetPicUrl}}" class="rg43a" /></span>
              </div>
              <div class="userinfo rg45a">
                <h2>{{selfie.RequestUserName}}</h2> 
              </div>
            </div>  -->


            <img class="rg67" src="{{selfie.RequsetPicUrl}}">
              <h2 class="positive rg68">{{selfie.RequestUserName}}</h2>
              <div style="clear: both;"></div>
            <!-- <div class="rg69">{{selfie.BoostTitle}}</div> -->
            <!-- <div class="rg71">
              <img style="width:100%" src="data:image/png;base64,{{selfie.ImageData}}" />
            </div> -->


            <div class="height01">
              <img src="data:image/png;base64,{{selfie.ImageData}}" class="rg74" />
            </div>
            <h2 class="rg72" style="background-color: transparent !important;">{{selfie.SelfieComment}}</h2>
        <div ng-show="selfie.iAmBooster == 'true'"> 
        <div class="item"  style="border: none;padding-top: 6px;padding-bottom: 0px;">  
          <div class="rg75a">
                    <img src="img/fb-share.png" style="width:100%" ng-click="rcFbShare()"/>
          </div>    
          <div class="rg76a">
                    <a href="#/app/completed">
                      <img src="img/done-btn.png" style="width:100%"/>
                    </a>
          </div>  
          </div>  
        </div>    
         <div ng-show="selfie.iAmBooster != 'true'"> 
         <!-- <div ng-show="selfie.hasAction == 'true'"> -->
            <label class="item item-input rg77" style="background-color:#444444; color:#000000;">
              <input type="text" placeholder="Write a Comment" ng-model="review.comment">
            </label>
            <div class="item" style="border: none;">            
                <div class="rg75" style="width: 48%;">
                  <!-- <button class="button button-assertive button-full" ng-click="sendReview(false)"> -->
                    <img src="img/disaster-btn.png" ng-click="sendReview(false)" style="width: 100%;"/>
                  </button>              
                </div>    
                <div class="rg76" style="width: 48%;">
                  <!-- <button class="button button-balanced button-full" ng-click="sendReview(true)"> -->
                    <img src="img/lovedit-btn.png" ng-click="sendReview(true)" style="width: 100%;"/>
                  </button>
                </div>
            </div>         
          </div>
      </div>
  </ion-content>
</ion-view>
<!--- <ion-view hide-back-button="false">
  <ion-nav-buttons >
    <h1 class="title"><center>
      Review Selfie 
    </center></h1>
  </ion-nav-buttons>

  <ion-content class="has-header">      
     <div class="list rg66">        
         <div class="item rg70">
           <center>
              <img class="rg67" src="pics/cln1.png">
              <h2 class="positive rg68">Will Smith</h2>
            </center>
            <div class="rg69">Pump Up At The Gym</div>
            <div class="rg71">
              <img style="width:100%" src="pics/review.jpg" />
            </div>
              <h2 class="rg72" style="background-color: transparent !important;">All thanks to you babe!</h2>
         </div>                         
         <label class="item item-input rg77">
            <input type="text" placeholder="Write a Comment" ng-model="selfie.comment" style="color: #3873b4 !important !important;">
         </label>
        <div class="item" style="border: none;">            
          <div class="rg75" style="width: 48%;">
                    <img src="img/nope-btn.png" style="width:100%"/>
          </div>    
            <div class="rg76" style="width: 48%;">
              <img src="img/yes-btn.png" style="width:100%"/>
            </div>
         </div>         
    </div>
  </ion-content>
</ion-view>-->