<style type="text/css">
    .headmain_hd {
    margin-top: 12px !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>
<ion-view hide-back-button="false">
  <!--<ion-nav-buttons side="left" >
    <a class="button button-clear button-top25" href="#/app/upcoming">
      Cancel
    </a>
  </ion-nav-buttons>-->
	<ion-nav-buttons >
		<h1 class="title">
			<div class="headmain_hd getbst">{{details.Text}}</div>
		</h1>
	</ion-nav-buttons>

   <ion-content class="has-header">      
     <div class="list rg66">        
         <div class="item rg70 rg79" align='center'>
           <!-- <center> -->
              <img class="rg67" src="{{details.RequestPicUrl}}" />
              <h2 class="positive rg68">{{details.RequestUserName}}</h2>
              <div style="clear: both;"></div>
            <!-- </center> -->
            <!-- <div class="rg69">Pump Up At The Gym</div> -->
            <!-- <div class="rg71"> -->
              <!-- <h2 class="rg72b"></h2> -->
              <!-- <img style="width:300px; height:300px;" src="data:image/JPEG;base64,{{selfie.image}}" /> -->
              <canvas id='croppedImage' style="width:100%;"/>
              <!-- <img class="width100"  src="data:image/JPEG;base64,{{selfie.image}}" /> -->
              
            <!-- </div> -->   
            <!-- <center> -->
              <!--<h2 class="rg72">
                  All Thanks
              </h2>-->
            <!-- </center> -->
         <!-- </div>  -->
         <div>
            <input type="text" placeholder="Comment" style="background-color:#444444; color:#EEEEEE;" ng-model="selfie.comment">
         </div>   
         <!-- <div class="item"> -->
             <!-- <h3> -->
                <!-- {{details.Text}} -->
              <!-- </h3> -->
         <!-- </div> -->
         <!-- <label class="item item-input">
            <input type="text" placeholder="Comment" ng-model="selfie.comment">
         </label>
        <div class="item">            
            <button class="button button-block button-positive tackbtn" ng-click="takePicture()">
              TAKE SELFIE <span class="imgcemn"><img src="img/cemra-icon.png" alt="" /></span>
            </button>
         </div>    -->   
          <div class="rg75">
                    <img src="img/sendnshare-btn.png" class="width100" ng-click="sendSelfie(true)"/>
                </div>
                <div class="rg76" >
                    <img src="img/send-btn.png" class="width100" ng-click="sendSelfie(false)"/>
          </div>
        </div>
         <!-- <img  src="img/send-btn.png" class="rg78" ng-click="sendSelfie()">          -->
    </div>
  </ion-content>
</ion-view>