<ion-view hide-back-button="false">
  <!--<ion-nav-buttons side="left" >
    <a class="button button-clear button-top25" href="#/app/upcoming">
      Cancel
    </a>
  </ion-nav-buttons>-->
	<ion-nav-buttons >
		<h1 class="title">
    <div class="headmain_hd getbst margin-top6">{{selfie.BoostTitle}}</div></h1>
	</ion-nav-buttons>

  <ion-content class="has-header">      
     <div class="list rg66">        
         <div class="item rg70">
           <!-- <center> -->
              <img class="rg67" src="{{selfie.RequsetPicUrl}}">
              <h2 class="positive rg68">{{selfie.RequestUserName}}</h2>
              <div style="clear: both;"></div>
            <!-- </center> -->
            <!-- <div class="rg69">Pump Up At The Gym</div> -->
            <!-- <div class="rg71"> -->
              <div class="height01">
                <img src="data:image/png;base64,{{selfie.ImageData}}" class="rg74" />
              </div>
            <!-- </div> -->
            <!-- <center> -->
              <h2 class="rg72">{{selfie.SelfieComment}}</h2>
            <!-- </center> -->
            <h2 class="rg72a">{{selfie.ReviewComment}}</h2>
         </div>                  
         <!-- <div class="item">
              <h1></h2>
         </div> -->
      <div ng-show="selfie.isMySelfie == 'true'"> 
        <div class="item"  style="border: none;padding-top: 6px;padding-bottom: 0px;">            
          <div class="rg75a">
                    <img src="img/fb-share.png" style="width:100%" ng-click="crcfbShare()"/>
          </div>    
          <div class="rg76a">
                    <a href="#/app/completed">
                      <img src="img/done-btn.png" style="width:100%"/>
                    </a>
          </div>    
        </div>
      </div>
    </div>         
    </div>
  </ion-content>
</ion-view>
<style type="text/css">
    .headmain_hd {
    margin-top: 12px !important;
    font-size: 13pt !important;
  }
.button.button-clear {
font-size: 12pt !important;
}
.list {
  margin-top: -1px !important;
}
ion-nav-bar.bar-positive.bar.bar-header.nav-bar.nav-title-slide-ios7.disable-user-behavior {
  height: 63px !important;
}
h1.title {
  margin-top: 12px !important;
}
div.buttons.left-buttons{
  margin-top: 2px !important;
}
.button-top25 {
  margin-top: 18px !important;
}
</style>