<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-content style="margin-top:0 !important">
        <a class="item item-image" href="#/app/intro2" >
            <img src="img/int1.jpg" />
        </a>            
    </ion-content>
</ion-view>