<!-- <div ng-show="isTutUpcoming1" ng-click="showTutUpcoming1(false)" href="#/app/getboost/0" style="position: relative; top: 0; left: 0; z-index: 9; height: 100%; width: 100%;"> -->
  <!-- <img src="img/Tutorial/PNG/new_boost.png" style="height: 100%; width: 100%;"> -->
<!-- </div> -->
<div ng-show="isTutUpcoming2" ng-click="showTutUpcoming2(false)" style="position: relative; top: 0; left: 0; z-index: 9; height: 100%; width: 100%;">
  <img src="img/Tutorial/PNG/boost_created.png" style="height: 100%; width: 100%;">
</div>
<style type="text/css">
  .bar.bar-positive {
    background: #48bd3c;
  }
</style>
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;>
    <img style="width: 100%; height: 100%; src='img/botlogo.png'/>
</div>
<ion-view hide-back-button="true" title="">  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon mainnavionc margin-top10"></button>
  </ion-nav-buttons>
  <ion-nav-buttons >
    <h1 class="title">
      <div class="headmain_hd">{{profile.name}}</div>
      <div class="subhd_hed">
        {{profile.level}} <span class="ion-star">{{profile.points}}</span>
      <div>
    </h1>
  </ion-nav-buttons>  
  <ion-nav-buttons side="right">
      <span ng-show="getNotificationCount() > 0" class="count">{{getNotificationCount()}}</span>
      <a href="#/app/notification"  class="button button-icon ion-ios7-bell-outline toperthionc margin-top10"></a>
  </ion-nav-buttons>  
  <ion-content class="has-header">
    	<div class="list">
          <a class="item item-thumbnail-left and01" id="#addboostBtn" href="#/app/getboost/0">      
            <div class="ourlogo">
            <!-- <img src="img/addboost_btn.png" /> -->
            </div>
          </a>
            <div ng-repeat="item in list" >
               <a class="item item-thumbnail-left firstpartbgtab" href="#app/selfie/{{item.BoostId}}" ng-show="item.IsGetBoost">
                  <div class="user_pic rg23">
                      <img src="img/pic_frem.png" alt="Frame" /> 
                      <span><img src="{{item.RequestPicUrl}}" alt="" class="rg21" /></span>
                      <img ng-show="item.Status == 'P'" src="img/asking-status.png" class="rg1">
                      <img ng-show="item.Status == 'A'" src="img/accepted-status.png" class="rg1">
                      <img ng-show="item.Status == 'D'" src="img/declined-status.png" class="rg1">
                  </div>
                  <div class="userinfo">
                    <h2><span>Get a Boost from</span> <br />{{item.RequestUserName}}</h2>                    
                    <h3>{{item.Text}}</h3>
                    <h4>{{item.EventDateString}} {{alert(item.EventTime)}}</h4>      
                  </div>
                </a>

                <div class="rg2" ng-show="!item.IsGetBoost" ng-click="sendPoke(item)">
                    <a class="item item-thumbnail-left secondpartbgtab" > 
                      <div class="userinfo_second">
                        <h2><span>Give a Boost to</span> <br />{{item.RequestUserName}}</h2>
                        <h3>{{item.Text}}</h3>
                        <h4 class="rg6 rg24">{{item.EventTime}} {{item.EventDateString }}</h4>      
                      </div>
                      <div class="user_picsecond rg22">
                        <img src="img/right_side.png" alt="" />                         
                        <span><img src="{{item.RequestPicUrl}}" class="rg3" alt="" /></span>                      
                      </div>
                  </a>
              </div> 
          </div>
          <a class="item item-thumbnail-left secondpartbgtab rg55" >      
          </a>
      </div>
  </ion-content>
  <div class="tabs tabs-icon-top border-none">
        <a class="tab-item bg-green" href="#/app/upcoming">
            <img src="img/calendar-icon.png" class="rg4">
            Coming Up
        </a>  
        <a class="tab-item rg5 bg-orange" href="#/app/requests">
            <span ng-show="requestCount > 0" class="count count-bottom">{{requestCount}}</span>
            <img src="img/megaphone-icon.png" class="rg4 rg4a">
            Boost Calls
        </a>
        <a class="tab-item bg-purple" href="#/app/completed">
            <img src="img/completed-icon.png" class="rg4 rg4b">
            Your Success
        </a>
  </div>
</ion-view>